.zenkit-toggle-icon {
  margin-right: 10px;
}

.icon-open {
  transition: all 0.3s ease-in-out;
  transform: rotate(90deg);
}

.zenkit-section-page-container {
    display: flex;
    flex-direction: row;
    .zenkit-section-page-navigation {
        width: 200px;
        .zenkit-section-page-navigation-header {

        }
        .zenkit-section-page-entries-list {
            list-style: none;
            padding: 0;
            .zenkit-section-page-entries-list-entry {
                margin-bottom: 10px;
            }
        }
    }
    .zenkit-section-page-entry-container {
        flex: 1;
    }
}
