/******** Material Design Input *********/
.input-container {
  position:relative;
  margin-bottom:45px;
  margin-top: 45px;
  display: inline-block;

  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus {
    outline:none;
  }

  label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:$color-main-01;
  }

  .bar {
    position:relative;
    display:block;
    width:300px;
  }

  .bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    //bottom:1px;
    position:absolute;
    background:$color-main-01;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }

  .bar:after {
    right:50%;
  }

  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  @-webkit-keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
}

/******** Material Design Fixed Action Button *********/

.fab {
    border:none;
    font-size:1.5em;
    color:white;
    background-color: $color-highlight;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 20px;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
       -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
            box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
  background-color: $color-highlight;
}

#reload-button {
  display: block;
  margin-top: 30px;
}


/********* Checkbox ********/
$checkbox-size: 20px;

.checkbox-container {
  display: inline-block;

  .checkbox {
    position: relative;
    //top: -0.375 * $checkbox-size;
    bottom: 2px;
    margin: 0 $checkbox-size 0 0;
    cursor: pointer;
  }

  .checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 2px solid #f2f2f2;
  }

  .checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5 * $checkbox-size;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
  }

  .checkbox:after {
    content: "";
    position: absolute;
    top: -0.125 * $checkbox-size;
    left: 0;
    width: 1.1 * $checkbox-size;
    height: 1.1 * $checkbox-size;
    background: #fff;
    cursor: pointer;
  }
}

/******** Todo ********/
.todo-items {
  list-style: none;
}

.todo-item {
  margin-top: 10px;

  .delete-icon {
    margin-left: 10px;
    display: none;
  }

  .delete-icon:hover {
    cursor: pointer;
  }
}

.todo-item:hover .delete-icon {
  display: inline-block;
}
