/******** colors *********/
$color-main-01: #00796B;
$color-main-02: #009688;
$color-main-03: #B2DFDB;
$color-highlight: #FFC107;
$zenkit-background-color: #fff;
$zenkit-select-color: #59A7EB;

@import "zenkit-navigation";
@import "list";
@import "todos";
@import "section-page";
@import "entry";
@import "layout"
